.c-card-button{
    display: block;
    cursor: pointer;
    background-color: white;
    border-radius: 40px;
    width: 60%;
    height: 76px;
    @include mq(md){
        height: 42.5px;
    }
    margin: auto;
    a{
        color: #707070;
        display: block;
        text-decoration: none;
        line-height: 70px;//まったく同じ高さにしてしまうとずれたので少し小さくした
        @include mq(md){
            line-height: 37.5px;//まったく同じ高さにしてしまうとずれたので少し小さくした
        }

    }
}