.c-card-button{
    display: block;
    cursor: pointer;
    background-color: white;
    border-radius: 40px;
    width: 60%;
    height: 76px;
    @include mq(md){
        height: 42.5px;
    }
    margin: auto;
    a{
        display: block;
        line-height: 7rem;
        @include mq(md){
            line-height: 37.5px;
        }
        text-decoration: none;
        color: #707070;
    }
}