.c-card-button{
    display: block;
    cursor: pointer;
    background-color: white;
    border-radius: 40px;
    width: 60%;
    height: 76px;
    @include mq(md){
        height: 42.5px;
    }
    margin: auto;
    color: #707070;
}