.c-menu{
    *{
        list-style: none;
    }
    * a{
        color: #707070;
        text-decoration: none;
        display: block;

    }
    >li{
        font-size: 2.4rem;
        margin: 3rem 0;
        >a{
            margin: 3rem 0;
        }
        .sub-menu{
            li{
                font-size: 1.8rem;
                margin-left: 2rem;
                margin-bottom: 3rem;
            }
        }
    }
}