.c-map{
    position: relative;
    overflow: hidden;
    background-color: #000;
    img{
        width: 100%;
        min-height: 200%;
    }
    &__image{
        img{
            width: 100%;
        }
    }

    &__explanation{
        overflow: auto;
        position: absolute;
        top:0;
        color: white;
        background-color: rgba(0,0,0,0.3);
        width: 61%;
        height: 100%;
        padding:3%;
        h2{
            font-weight:normal;
            font-size: 3rem;
        }
        hr{
            width: 7.5rem;
            border-width: 2px;
            border-color: white;
            margin:5% 0;
        }
        p{
            font-size: 1.3rem;
            line-height: 2.1rem;
        }
    }
}

@include mq(md){
    .c-map{
        &__explanation{
            width: 100%;
        }
    }
    
}