.c-page-description{
    color: #3C2A10;
    margin-bottom: 5%;
    h2{
        font-size: 3rem;
        margin-bottom: 2%;
        @include mq(md){
            font-size: 3vw;
        }
    }
    p{
        font-size: 1.6rem;
        line-height: 2.1rem;
        @include mq(md){
            font-size: 2.1vw;
        }
    }

}