.c-search{
    margin-left: auto;
    color: #707070;
    position: relative;
    &__box{
        border-radius:10px;
        width:230px;
        height:40px;
        border:1px solid #707070;
        padding-left: 48px;
        font-size: 1.6rem;
        outline: none;
    }
    &__icon{
        position: absolute;
        top:8px;
        left: 12px;
        font-size: 2.5rem !important;
    }
    &__button{
        cursor: pointer;
        margin-left: 14px;
        width:80px;
        height:40px;
        background-color: #F2EDE9;
        border:1px solid #707070;
        border-radius:10px;
        font-size: 1.6rem;
        outline: none;
    }
}