.c-single-page-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    &__img{
        width: 45%;
    }
    &__description{
        width:50%;
        p{
            font-size: 1.6rem;
        }
    }
    &--right{
        flex-flow: row-reverse;
    }
}