.c-title{
    font-family: 'Roboto', sans-serif;
    &--header{
        color: #707070;
        font-size: 5rem;
        a{
            text-decoration: none;
            color: #707070;
        }
    }
    &--side-menu{
        color: #707070;
        font-size: 2.5rem;
        margin-bottom:20%;
        @include mq(md){
            margin-bottom:10%;
        }
    }
    &--front-page-card{
        white-space: nowrap;
        color: white;
        font-size: 6rem;
        @include mq(md){
            font-size: 6vw;
        }
        padding:5%;
    }
}

@include mq(md){
    .c-title{
        &--header{
            font-size: 4rem;
        }
    }
}