.c-title{
    font-family: 'Roboto', sans-serif;
    &--header{
        color: #707070;
        font-size: 5.5rem;
    }
    &--side-menu{
        color: #707070;
        font-size: 3.4rem;
        margin-bottom:30%;
    }
    &--front-page-card{
        white-space: nowrap;
        color: white;
        font-size: 6rem;
        padding:5%;
    }
}

@include mq(md){
    .c-title{
        &--header{
            font-size: 4rem;
        }
    }
}