.l-main{
    &__front-page-contents{
        padding:5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__archive-page-contents{
        background-color: #FFFDFA;
        padding:5%;
        color:#3C2A10;
        >p{
            font-size: 1.6rem;
            margin-bottom: 5%;
            line-height: 2.1rem;
            @include mq(md){
                font-size: 1.6vw;
            }
        }
    }
    &__single-page-contents{
        background-color: #FFFDFA;
        padding:5%;
        *{
            color:#3C2A10;
        }
        p{
            font-size: 1.6rem;
            margin-bottom: 5%;
            line-height: 2.1rem;
            @include mq(md){
                font-size: 2.1vw;
            }
        }
        h2{
            font-size: 3.6rem;
            margin-bottom: 5%;
            @include mq(md){
                font-size: 3.6vw;
            }
        }
        h3{
            font-size: 2.8rem;
            margin-bottom: 5%;
            @include mq(md){
                font-size: 2.8vw;
            }
        }
        h4{
            font-size: 2rem;
            margin-bottom: 5%;
            @include mq(md){
                font-size: 2vw;
            }
        }
        h5{
            font-size: 2rem;
            margin-bottom: 5%;
            @include mq(md){
                font-size: 2vw;
            }
        }
        h6{
            font-size: 2rem;
            margin-bottom: 5%;
            @include mq(md){
                font-size: 2vw;
            }
        }
        li{
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
        .c-blockquote{
            margin-bottom: 5%;
        }
        ul>li>ul {
            margin-left: 10%;
        }
        ol>li>ol {
            margin-left: 10%;
        }
        @include mq(sm){
            ul:nth-of-type(2), ul:nth-of-type(5){
                margin-left: 5%;
            }
        }
    }
}

@include mq(sm){
    .l-main{
        &__front-page-contents{
            display: block;
        }
        &__archive-page-contents{
            display: block;
        }
    }
}