.l-wrapper{
    position: relative;
    max-width:1920px;
    display: flex;
    &__left{
        width:81%;
    }
    &__right{
        width:19%;
        z-index: 200;
    }
}

@include mq(md){
    .l-wrapper{
        &__left{
            width:100%;
        }
        &__right{
            display: none;
            width: 40%;
            position: absolute;
            height: calc(100% + 100px);/*フッターまで貫通してメニューを出すから+100px*/
            right: -40%;
        }
    }
       
}

@include mq(sm){
    .l-wrapper{
        &__right{
            width: 90%;
            right: -90%;
        }
    }
       
}