.p-main-visual{
    display: flex;
    align-items: center;
    .c-sub-title{
        padding-left: 5%;
    }
    &--front-page{
        padding: 15% 0;
        background-image: url(../image/3ba5a44414bb3c0885c27ff614596431.png);
        background-size: cover;
        .c-sub-title{
            font-size: 4rem;
        }
    }
    &--archive-page{
        padding: 5% 0;
        background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
        background-position: center center;
        width: 100%;
        position: relative;
        &__bg{
            position: absolute;
            background-color: rgba(0,0,0,0.5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .c-sub-title{
            font-family: 'Roboto', sans-serif;
            font-size: 5rem;
            z-index: 1;
        }
        p{
            z-index: 1;
            color: white;
            margin-left: 1%;
        }
    }
    &--single-page{
        padding: 15% 0;
        background-image: url(../image/ham-burger-with-vegetables-1639557.png);
        background-size: cover;
        background-position: center;
        .c-sub-title{
            font-size: 4rem;
        }
    }
    &--about-page{
        padding: 15% 0;
        background-image: url(../image/black-steel-lamp-post-1070945.png);
        background-size: cover;
        background-position: center;
        .c-sub-title{
            font-size: 4rem;
        }
    }
}