.u-img-height50rem{
    >img{//投稿記事内の画像はHTMLでfigure>imgの構造で出力される。
        //そして、画像に対して高度な設定からクラスを当てるとfigureに対して設定されてしまう.
        //figure>imgにスタイルを充てるためにこうしている
        object-fit: cover;
        object-position: bottom;
        height: 50rem;
        margin-bottom: 5%;
        @include mq(md){
            height: 30rem;
        }
        @include mq(sm){
            height: 15rem;
        }
    }
    }
